<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jensen.draculadaybyday">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name=".notification.NotificationService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Entrylist page -->
        <activity
            android:name=".entries.EntryListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Entry page -->
        <activity
            android:name=".entries.EntryActivity"
            android:label="@string/title_entry_detail"
            android:parentActivityName=".entries.EntryListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jensen.draculadaybyday.entries.EntryListActivity" />
        </activity>

        <!-- Filter page -->
        <activity
            android:name=".filter.FilterActivity"
            android:parentActivityName=".entries.EntryListActivity"
            android:label="@string/menu_filter_text" />

        <!-- Preference page -->
        <activity
            android:name=".preferences.DraculaPreferences"
            android:label="@string/menu_preferences_text"/>

        <!-- About page -->
        <activity
            android:name=".presentation.AboutPage"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>